.center{
    text-align: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
h1{
    color: #333;
    font-weight: 1000;
}
.scroll-container {
    overflow-y: scroll; /* Add vertical scrollbar when content overflows */
    border: 1px solid black;
}