.center{
    text-align: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
h1{
    color: #333;
    font-weight: 1000;
}
#importFileInputsDiv{
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
#status {
    overflow: auto;
}
a:hover {
    color: green; /* Changes color to green when the link is hovered */
    color: red; /* Changes color to red when the link is hovered */
}

a:visited {
    color: purple; /* Changes color after the link has been visited */
}